# Snippets for fish shell

snippet function
	function ${1:name}
		$2
	end

snippet switch
	switch $1
		case $2
            $3
	end

snippet if
	if $1
	    $2
	end

snippet header
	# Author: IA
	# Machine: ${1:device}
	# ---

	$2
