 Variables */
:root {
  --white: #bbb;
  --black: #222;
  /* --primary: #b2f; */
  /* --secondary: #e86; */
  --font-sans: Helvetica, sans-serif, system-ui;
  --font-mono: monospace;
  /* --primary-underline: solid underline 3px var(--primary); */
}
*, *::before, *::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.15;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

code, kbd, samp {
  font-family: var(--font-mono);
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

input, button, textarea, select, optgroup {
  font: inherit;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Sources
https://github.com/Andy-set-studio/modern-css-reset/blob/master/src/reset.css
https://www.joshwcomeau.com/css/custom-css-reset/
https://github.com/necolas/normalize.css/blob/master/normalize.css
*/
